---
layout: default
---
<div class="blog-post">
  <h2 class="blog-post-title">{{ page.title }}</h2>
  <p class="blog-post-meta">{{ page.date | date_to_long_string}} by <a href="#">{{page.author.display_name}}</a></p>
  {{ content }}
</div><!-- /.blog-post -->

{% assign page_id_slug = page.id | slugify %}

{% if site.data.comments[page_id_slug] %}

  {% assign comments = "" | split: "," %}
  {% for kv in site.data.comments[page_id_slug] %}
    {% assign comments = comments | push: kv[1] %}
  {% endfor %}

  {% assign comments = comments | sort: "date" %}

  {% for comment in comments %}
    <img src="https://www.gravatar.com/avatar/{{ comment.email}}">
<p>  {{ comment.name }} </p>
<p>  {{ comment.date | date_to_long_string }}</p>
  <p>{{ comment.message }}</p>
  {% endfor %}

{% endif %}

<form method="POST" action="https://api.staticman.net/v2/entry/freakent/freakent.github.io/master/comments">
  <input name="options[redirect]" type="hidden" value="{{ page.url | absolute_url }}">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <input name="fields[page-id]" type="hidden" value="{{ page.id }}">
  <label>Name<input name="fields[name]" type="text"></label>
  <label>E-mail<input name="fields[email]" type="email"></label>
  <label>Message<textarea name="fields[message]"></textarea></label>

  <button type="submit">Go!</button>
</form>
